<div class="span3">
  <h1>User</h1>

  <p>
    <b>Login</b><br>
    <%= @user.login %>
  </p>

  <p>
    <b>Name</b><br>
    <%= @user.name %>
  </p>

  <p>
    <b>Email</b><br>
    <%= @user.email %>
  </p>

  <p>
    <b>Address</b><br>
    <%= @user.address %>
  </p>

  <p>
    <b>Burthday</b><br>
    <%= @user.burthday %>
  </p>

  <div class="form-actions">
    <%= link_to 'Back', users_path, :class => 'btn'  %>
    <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
  </div>
</div>
<div class="span9">
  <%= gmaps(
    "markers" => {
      "map_options" => {"auto_adjust" => true},
      "data" => @user_map_json,
      "options" => {
        "list_container" => "markers_list",
        "randomize" => true,
        "max_random_distance" => "10"
      }
    }
  ) %>
</div>
<ul class="unstyled" id="markers_list">  </ul>