<h2>Report</h2>

<%= form_tag admin_reports_path, :method => "get" , :class => "form-horizontal" do %>
  <%= select_tag :rows_field, options_for_select(@report_fields), :prompt => "Select Rows Type" %>
  <%= select_tag :columns_field, options_for_select(@report_fields), :prompt => "Select Columns Type"  %>
  <%= select_tag :value_type, options_for_select(@report_value_types), :prompt => "Select Value Type" %>
  <%= submit_tag "Show", class: "btn" %>
<% end %>

<table class="table table-striped table-bordered" id="report">
  <thead>
    <th>
      <% @report.header[1].each do |header| %>
        <td><%= header.to_s %></td>
      <% end %>
    </th>
  </thead>
  <tbody>
    <% @report.header[0].each do |r_header| %>
      <tr>
        <td><%= r_header.to_s %></td>
        <% @report.header[1].each do |c_header| %>
          <td>
            <%= print_report_cell @report.body[r_header][c_header] %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>