<div>
  <h2>Product</h2>
  <div class="thumbnails">
    <%  @product.images.each do |image| %>
      <div class="thumbnail span3">
        <%= link_to image_tag(image.image_path_url(:thumb).to_s), admin_image_path(image) %>
        <h5>Description</h5>
        <%= image.name.to_s %>
        <div class="form-actions">
          <%= link_to "Edit", edit_admin_image_path(image), :class => "btn" %>
          <%= link_to "Remove", admin_image_path(image), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>

  <p>
    <h5>Description</h5>
    <%= @product.description %>
  </p>

  <p>
    <h5>Category</h5>
    <%= @product.category.nil? ? nil : @product.category.name %>
  </p>

  <p>
    <h5>Price</h5>
    <%= number_to_currency @product.price %>
  </p>

  <p>
    <h5>Path</h5>
    <%= @product.path %>
  </p>
  <div class="form-actions">
    <%= link_to 'Back', admin_products_path, :class => 'btn'  %>
    <%= link_to 'Add image', new_admin_image_path(:product_id => @product), :class => 'btn brn-primary'  %>
    <%= link_to 'Edit', edit_admin_product_path(@product), :class => 'btn' %>
    <%= link_to 'Delete', admin_product_path(@product), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  </div>
</div>
