<ul class="nav">
  <li><%= link_to "Edit Products", admin_products_path %></li>
  <li><%= link_to "Buy Products", products_path %></li>
  <li><%= link_to "View Users", admin_users_path %></li>
  <li><%= link_to "Profile", admin_user_path(current_user) %></li>
  <li><%= link_to "Cart" %></li>
</ul>