<div>
  <h2>Product</h2>
  <div class="thumbnails">
    <%  @product.images.each do |image| %>
      <div class="thumbnail span4">
        <%= link_to image_tag(image.image_path_url.to_s), image_path(image) %>
        <h5>Description</h5>
        <%= image.name.to_s %>
      </div>
    <% end %>
  </div>
  <p>
    <h5>Description</h5>
    <%= @product.description %>
  </p>

  <p>
    <h5>Category</h5>
    <%= @product.category.nil? ? nil : @product.category.name %>
  </p>

  <p>
    <h5>Price</h5>
    <%= number_to_currency @product.price %>
  </p>

  <% if @product.rating %>
    <div id="product-rating">
      <%= render "ratings/cur_product_rating" %>
    </div>
  <% end -%>
  <% if !current_user.name.blank? %>
    <div id="rating-form">
      <%= render "ratings/form" %>
    </div>
  <% end -%>

</div>

<div id="product-comments" class="span12">
</div>