<h1>Product</h1>

<p>
  <b>Description</b><br>
  <%= @product.description %>
</p>

<p>
  <b>Category</b><br>
  <%= product.category.nil? ? nil : product.category.name %>
</p>

<p>
  <b>Price</b><br>
  <%= number_to_currency @product.price %>
</p>

<p>
  <b>Path</b><br>
  <%= @product.path %>
</p>

<div class="form-actions">
  <%= link_to 'Back', products_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_product_path(@product), :class => 'btn' %>
  <%= link_to 'Delete', product_path(@product), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
