<div class="thumbnail span4">
  <h2>Product</h2>
  <%=  image_tag @product.image_url %>

  <p>
    <h5>Description</h5>
    <%= @product.description %>
  </p>

  <p>
    <h5>Category</h5>
    <%= @product.category.nil? ? nil : @product.category.name %>
  </p>

  <p>
    <h5>Price</h5>
    <%= number_to_currency @product.price %>
  </p>

  <p>
    <h5>Path</h5>
    <%= @product.path %>
  </p>
  <div class="form-actions">
    <%= link_to 'Back', products_path, :class => 'btn'  %>
  </div>
</div>
